<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
	
	<title>Anand Medical Store</title>
		<link rel='stylesheet' type='text/css' href='/static/style.css' />
	<link rel='stylesheet' type='text/css' href='/static/form_style.css' />

	<link rel='stylesheet' type='text/css' href='/static/print.css' media="print" />
	<script type='text/javascript' src='/static/jquery-1.3.2.min.js'></script>
	<script type='text/javascript' src='/static/example.js'></script>
<script type='text/javascript' src='/static/shortcut.js'></script>



  <link href="/static/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script src="/static/jquery.min.js"></script>
  <script src="/static/jquery-ui.min.js"></script>
<script type='text/javascript' src='/static/jquery.cookie.js'></script>  


</head>

<body>
	<div id="page-wrap">

		<textarea id="header" readonly="readonly">Anand Medical Store</textarea>
</div>
	
<a href=/type_add>Type add</a><br>	
<a href=/firm_add>Firm add</a>		<br>		
<a href=/pharma_add>Pharma add</a><br>	
<a href=/medicine_add>Medicine add</a><br>	
<a href=/stock_add>Stock add</a>	<br>	
<a href=/stock_view>Stock View</a>	<br>	
<a href=/credit_view>Credit View</a>	<br>	
<a href=/expiry_view>Expiry View</a>	<br>	

<p>{{purchase}}</p>
<p>{{sale}}</p>
<p>{{stock}}</p>

</body>

</html>
