<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>Anand Medical Store</title>
		<link rel="stylesheet" href="/static/960.css" type="text/css" media="screen" charset="utf-8" />
		<!--<link rel="stylesheet" href="css/fluid.css" type="text/css" media="screen" charset="utf-8" />-->
		<link rel="stylesheet" href="/static/template.css" type="text/css" media="screen" charset="utf-8" />
		<link rel="stylesheet" href="/static/colour.css" type="text/css" media="screen" charset="utf-8" />
	</head>
	<body>
		
					<h1 id="head">Anand Medical Store</h1>
		
	<div id="content" class="container_16 clearfix">
<table>
<tr><td>
<form action={% autoescape off %}{{ base_url }}{% endautoescape %}/dash/ method=POST>                                        
  <input type="submit" name="submit" id="submit" value="Go to Dashboard" />                                                    </form>       
</td>


<td><h2>View Expiry</h2></td>
<td text-align=right>

<form action={% autoescape off %}{{ base_url }}{% endautoescape %}/expiry_view/ method=POST>                                          <input type="text" name="query" id="field" placeholder="Days"/>                                                                                 <input type="submit" name="submit" id="submit" value="Search" />                                                         
  </form>
</td>       
<tr>
</table>
{% autoescape off %}{{ info }}{% endautoescape %}
	<div class="grid_16">
					<table>
						<thead>
							<tr>
								<th>Medicine Name</th>
								<th>Batch No.</th>
								<th>Expiry</th>
								<th>MRP</th>
								<th>N Available</th>
								<th>N Sold</th>
								<th colspan="2" width="10%">Actions</th>
							</tr>
						</thead>
		
						<tbody>
						      {% autoescape off %}{{ stock_str }}{% endautoescape%}
						</tbody>
					</table>
				</div>
			</div>
		
		<!--<div id="foot">
					<a href="#">Contact Me</a>
				
		</div>-->
	</body>
</html>
