<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
	
	<title>Anand Medical Store</title>
		<link rel='stylesheet' type='text/css' href='/static/style.css' />
	<link rel='stylesheet' type='text/css' href='/static/form_style.css' />

	<link rel='stylesheet' type='text/css' href='/static/print.css' media="print" />
	<script type='text/javascript' src='/static/jquery-1.3.2.min.js'></script>
	<script type='text/javascript' src='/static/example.js'></script>
<script type='text/javascript' src='/static/shortcut.js'></script>



  <link href="/static/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script src="/static/jquery.min.js"></script>
  <script src="/static/jquery-ui.min.js"></script>
<script type='text/javascript' src='/static/jquery.cookie.js'></script>  
  <script>

var vtag_name = {% autoescape off %}{{ tag_name }}{% endautoescape%};
var vfirm = {% autoescape off %}{{ firm }}{% endautoescape%};
var vmtype = {% autoescape off %}{{ mtype }}{% endautoescape%};

$(document).ready(function() {
 
  $("input#tag_name").autocomplete({
      source: {% autoescape off %}{{ tag_name }}{% endautoescape%}
  });


  $("input#firm").autocomplete({
      source: {% autoescape off %}{{ firm }}{% endautoescape%}
  });

  $("input#mtype").autocomplete({
      source: {% autoescape off %}{{ mtype }}{% endautoescape%}
  });



});


</script>


</head>

<body>
	<div id="page-wrap">

		<textarea id="header" readonly="readonly">Anand Medical Store</textarea>
</div>
	
		<form id=payment action="/medicine_add_process/" method=POST>
				<legend>Add Medicine</legend>
		
				<ol>
					
					<li>
						<label for=tag_name>Name</label>
						<input id=tag_name name=tag_name type=text placeholder="Med Name" required autofocus>
					</li>
					
					<li>
						<label for=firm>Firm</label>
					<input id=firm name=firm type=text placeholder="Firm" required>
					</li>
					
					<li>
						<label for=mtype>Type</label>
						<input id=mtype name=mtype type=text placeholder="Type" required>
					</li>						
				</ol>
			

			
			
				<button type=submit>Submit</button>

		
		</form>
	

</body>

</html>
